<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.shunfu.bigdata.dto.mapper.OrderMapper">
    <insert id="insertOrUpdateOrder" parameterType="cc.shunfu.bigdata.dto.entity.Order">
        INSERT INTO `orders` (`bill_no`, `bill_type_id_name`, `sale_dept_id_name`, `saler_id_name`,
                              `cust_id_name`, `cust_id_number`, `rec_condition_id_name`, `qty`, `all_amount_lc`,
                              `delivery_date`, `approve_date`)
        VALUES (#{billNo}, #{billTypeIDName}, #{saleDeptIdName}, #{salerIdName},
                #{custIdName}, #{custIdNumber}, #{recConditionIdName}, #{qty}, #{allAmountLC}, #{deliveryDate},
                #{approveDate})
        ON DUPLICATE KEY UPDATE `bill_no`               = VALUES(`bill_no`),
                                `bill_type_id_name`     = VALUES(`bill_type_id_name`),
                                `sale_dept_id_name`     = VALUES(`sale_dept_id_name`),
                                `saler_id_name`         = VALUES(`saler_id_name`),
                                `cust_id_name`          = VALUES(`cust_id_name`),
                                `cust_id_number`        = VALUES(`cust_id_number`),
                                `rec_condition_id_name` = VALUES(`rec_condition_id_name`),
                                `qty`                   = `qty` + VALUES(`qty`),
                                `all_amount_lc`         = `all_amount_lc` + VALUES(`all_amount_lc`),
                                `delivery_date`         = VALUES(`delivery_date`),
                                `approve_date`          = VALUES(`approve_date`)
    </insert>

    <select id="getOrders" parameterType="map" resultType="cc.shunfu.bigdata.dto.vo.result.OrderCustomer">
        SELECT bill_no                 AS billNo,
               a.bill_type_id_name     AS billTypeIDName,
               a.sale_dept_id_name     AS saleDeptIdName,
               a.saler_id_name         AS salerIdName,
               a.cust_id_name          AS custIdName,
               a.cust_id_number        AS custIdNumber,
               a.rec_condition_id_name AS recConditionIdName,
               a.qty,
               a.all_amount_lc         AS allAmountLC,
               a.delivery_date         AS deliveryDate,
               a.approve_date          AS approveDate,
               b.object_id             AS objectId,
               b.dept                  AS dept
        FROM `orders` a
                 LEFT JOIN crm_customer b ON a.cust_id_number = b.customer_id
        WHERE approve_date BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')
        ORDER BY approve_date DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
