<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.shunfu.bigdata.dto.mapper.SalesOrderMapper">
    <insert id="batchInsertOrUpdateSalesOrders" parameterType="java.util.List">
        INSERT INTO sales_order (id,billNo, documentStatus, date, materialNumber, materialName, model, unitName,
        quantity,
        consignPrice, consignAmount, taxPrice, allAmount, srcStockName, srcStockLocName, destStockName,
        destStockLocName, transferDirect, oraText1, srcBillTypeId, orderTypeName, creatorName, approverName, amount,
        attachmentCount, price, outJoinQty, oraText3, oraQty, secOutJoinQty, exchangeRate, exchangeTypeName,
        settleCurrName, baseCurrName, modifyDate) VALUES
        <foreach collection="list" item="salesOrder" separator=",">
            (#{salesOrder.id},#{salesOrder.billNo}, #{salesOrder.documentStatus}, #{salesOrder.date},
            #{salesOrder.materialNumber},
            #{salesOrder.materialName}, #{salesOrder.model}, #{salesOrder.unitName}, #{salesOrder.quantity},
            #{salesOrder.consignPrice}, #{salesOrder.consignAmount}, #{salesOrder.taxPrice}, #{salesOrder.allAmount},
            #{salesOrder.srcStockName}, #{salesOrder.srcStockLocName}, #{salesOrder.destStockName},
            #{salesOrder.destStockLocName}, #{salesOrder.transferDirect}, #{salesOrder.oraText1},
            #{salesOrder.srcBillTypeId}, #{salesOrder.orderTypeName}, #{salesOrder.creatorName},
            #{salesOrder.approverName}, #{salesOrder.amount}, #{salesOrder.attachmentCount}, #{salesOrder.price},
            #{salesOrder.outJoinQty}, #{salesOrder.oraText3}, #{salesOrder.oraQty}, #{salesOrder.secOutJoinQty},
            #{salesOrder.exchangeRate}, #{salesOrder.exchangeTypeName}, #{salesOrder.settleCurrName},
            #{salesOrder.baseCurrName}, #{salesOrder.modifyDate})
        </foreach>
        on duplicate key update
        documentStatus = VALUES(documentStatus),
        date = VALUES(date),
        materialNumber = VALUES(materialNumber),
        materialName = VALUES(materialName),
        model = VALUES(model),
        unitName = VALUES(unitName),
        quantity = VALUES(quantity),
        consignPrice = VALUES(consignPrice),
        consignAmount = VALUES(consignAmount),
        taxPrice = VALUES(taxPrice),
        allAmount = VALUES(allAmount),
        srcStockName = VALUES(srcStockName),
        srcStockLocName = VALUES(srcStockLocName),
        destStockName = VALUES(destStockName),
        destStockLocName = VALUES(destStockLocName),
        transferDirect = VALUES(transferDirect),
        oraText1 = VALUES(oraText1),
        srcBillTypeId = VALUES(srcBillTypeId),
        orderTypeName = VALUES(orderTypeName),
        creatorName = VALUES(creatorName),
        approverName = VALUES(approverName),
        amount = VALUES(amount),
        attachmentCount = VALUES(attachmentCount),
        price = VALUES(price),
        outJoinQty = VALUES(outJoinQty),
        oraText3 = VALUES(oraText3),
        oraQty = VALUES(oraQty),
        secOutJoinQty = VALUES(secOutJoinQty),
        exchangeRate = VALUES(exchangeRate),
        exchangeTypeName = VALUES(exchangeTypeName),
        settleCurrName = VALUES(settleCurrName),
        baseCurrName = VALUES(baseCurrName),
        modifyDate = VALUES(modifyDate)
    </insert>
    <insert id="insertOrUpdateSalesOrder" parameterType="cc.shunfu.bigdata.dto.entity.SalesOrder">
        INSERT INTO sales_order (billNo, documentStatus, date, materialNumber, materialName, model, unitName,
                                 quantity,
                                 consignPrice, consignAmount, taxPrice, allAmount, srcStockName, srcStockLocName,
                                 destStockName,
                                 destStockLocName, transferDirect, oraText1, srcBillTypeId, orderTypeName, creatorName,
                                 approverName, amount,
                                 attachmentCount, price, outJoinQty, oraText3, oraQty, secOutJoinQty, exchangeRate,
                                 exchangeTypeName,
                                 settleCurrName, baseCurrName, modifyDate, customerId, stockOutOrgName)
        VALUES (#{billNo}, #{documentStatus}, #{date},
                #{materialNumber},
                #{materialName}, #{model}, #{unitName}, #{quantity},
                #{consignPrice}, #{consignAmount}, #{taxPrice},
                #{allAmount},
                #{srcStockName}, #{srcStockLocName}, #{destStockName},
                #{destStockLocName}, #{transferDirect}, #{oraText1},
                #{srcBillTypeId}, #{orderTypeName}, #{creatorName},
                #{approverName}, #{amount}, #{attachmentCount}, #{price},
                #{outJoinQty}, #{oraText3}, #{oraQty}, #{secOutJoinQty},
                #{exchangeRate}, #{exchangeTypeName}, #{settleCurrName},
                #{baseCurrName}, #{modifyDate}, #{customerId}, #{stockOutOrgName})
        on duplicate key update documentStatus   = VALUES(documentStatus),
                                date             = VALUES(date),
                                materialNumber   = VALUES(materialNumber),
                                materialName     = VALUES(materialName),
                                model            = VALUES(model),
                                unitName         = VALUES(unitName),
                                quantity         = VALUES(quantity),
                                consignPrice     = VALUES(consignPrice),
                                consignAmount    = VALUES(consignAmount),
                                taxPrice         = VALUES(taxPrice),
                                allAmount        = VALUES(allAmount),
                                srcStockName     = VALUES(srcStockName),
                                srcStockLocName  = VALUES(srcStockLocName),
                                destStockName    = VALUES(destStockName),
                                destStockLocName = VALUES(destStockLocName),
                                transferDirect   = VALUES(transferDirect),
                                oraText1         = VALUES(oraText1),
                                srcBillTypeId    = VALUES(srcBillTypeId),
                                orderTypeName    = VALUES(orderTypeName),
                                creatorName      = VALUES(creatorName),
                                approverName     = VALUES(approverName),
                                amount           = VALUES(amount),
                                attachmentCount  = VALUES(attachmentCount),
                                price            = VALUES(price),
                                outJoinQty       = VALUES(outJoinQty),
                                oraText3         = VALUES(oraText3),
                                oraQty           = VALUES(oraQty),
                                secOutJoinQty    = VALUES(secOutJoinQty),
                                exchangeRate     = VALUES(exchangeRate),
                                exchangeTypeName = VALUES(exchangeTypeName),
                                settleCurrName   = VALUES(settleCurrName),
                                baseCurrName     = VALUES(baseCurrName),
                                modifyDate       = VALUES(modifyDate),
                                customerId       = VALUES(customerId),
                                stockOutOrgName  = VALUES(stockOutOrgName)
    </insert>
    <select id="getSalesOrders" parameterType="map" resultType="cc.shunfu.bigdata.dto.entity.SalesOrder">
        SELECT id,
               modifyDate,
               customerId,
               consignPrice,
               allAmount,
               taxPrice,
               quantity,
               destStockLocName,
               materialNumber,
               materialName,
               stockOutOrgName
        FROM sales_order
        WHERE modifyDate BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%ds') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
        ORDER BY modifyDate DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>