<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 输出到文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/shunfu.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/shunfu.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%file:%line]%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%highlight(%-5level)] [%thread] %logger{36} - %msg [%file:%line]%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <conversionRule conversionWord="highlight"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <!-- 设置日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
